body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #dbeafe, #f0f9ff);
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input {
  padding: 10px;
  width: 65%;
}

button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.weather-output {
  margin-top: 20px;
}

/*to add Dark mode */

.dark-mode {
  background: #1e293b;
  color: white;
}

.dark-mode .container {
  background: #334155;
}

.dark-mode input {
  background: #0f172a;
  color: white;
  border: 1px solid gray;
}

.dark-mode button {
  background: #2563eb;
  color: white;
}

/*to Responsive for use all devices */

@media (max-width: 600px) {

  .container {
    width: 90%;
    padding: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input {
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
  }

  button {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

}